.userMain
  .userHeader
    .icon
      = link_to image_tag('logo.png'), "/"
  .userContents
    = form_with(model: @name, url: update_names_path ,local:true) do |form|
      = render "devise/shared/error_messages", resource: @name
      .userContents__name
        姓 名（半角不可）
        %span 必須
        .inputarea
          %br/
          = form.text_field :family_name, placeholder: "姓"
          = form.text_field :first_name,placeholder: "名"
      .userContents__name
        姓 名 フリガナ（カタカナ)
        %span 必須
        .inputarea
          = form.text_field :family_name_f,placeholder: "フリマ"
          = form.text_field :first_name_f,placeholder: "タロウ"
      .userContents__name
        誕生日
        %span 必須
        .inputarea
          = form.date_select :birthday, use_month_numbers: true,  start_year: 1930, end_year: (Time.now.year - 18), default: Date.new(1989, 1, 1)
      .userContents__action
        = form.submit "次へ", class: 'userButton'
  .userFooter
    %ul.box
      %li.box__privacy
        = link_to "プライバシーポリシー", "#"
      %li.box__terms
        = link_to "フリマ利用規約", "#"
      %li.box__transaction
        = link_to "特定商取引に関する表記", "#"
    .icon
      = link_to image_tag('logo.png'), "/"
    .copyRight
      © FURIMA, Inc.