<h2>名前登録</h2>

<%= form_for @name do |f| %>
  <%= render "devise/shared/error_messages", resource: @name %>

 <div class="field">
    <%= f.label :姓（半角不可） %><br />
    <%= f.text_field :family_name %>
  </div>

  <div class="field">
    <%= f.label :名（半角不可） %><br />
    <%= f.text_field :first_name %>
  </div>

<div class="field">
    <%= f.label :姓フリガナ（カタカナ） %><br />
    <%= f.text_field :family_name_f %>
  </div>

<div class="field">
    <%= f.label :名フリガナ（カタカナ） %><br />
    <%= f.text_field :first_name_f %>
  </div>

<div class="field">
    <%= f.label :誕生日 %><br />
    <%= f.text_field :birthday %>
  </div>

  <div class="actions">
    <%= f.submit "Next　Page" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>