.userNMain
  .userHeader
    .icon
      = link_to image_tag('logo.png'), "/"
  .userContents
    = form_for @name do |f|
      = render "devise/shared/error_messages", resource: @name
      .userContents__name
        姓名（半角不可）
        %span 必須
        .inputarea
          %br/
          = f.text_field :family_name, placeholder: "姓"
          = f.text_field :first_name,placeholder: "名"
      .userContents__name
        姓名 フリガナ（カタカナ)
        %span 必須
        .inputarea
          = f.text_field :family_name_f,placeholder: "フリマ"
          = f.text_field :first_name_f,placeholder: "タロウ"
      .userContents__name
        誕生日
        %span 必須
        .inputarea
          = f.text_field :birthday
      .userContents__action
        = f.submit "次へ", class: 'userButton'
  .userFooter
    %ul.box
      %li.box__privacy
        = link_to "プライバシーポリシー", "#"
      %li.box__terms
        = link_to "フリマ利用規約", "#"
      %li.box__transaction
        = link_to "特定商取引に関する表記", "#"
    .icon
      = link_to image_tag('logo.png'), "/"
    .copyRight
      © FURIMA, Inc.