= render partial: "layouts/header"

.allprofMain
  .allprofMain__content
    .allprofMain__content--header
      %h1 出品商品一覧
    .allprofMain__content--main
      .productList
        - @products.each do |product|
          = link_to product do
            .productList--img
              = image_tag product.images.first.src.url
            .productList--body
              %h3.name
                = product.name
            .details
              %ul
                %li
                  = product.price
                  円
                %li
                  = icon('fas', 'star', class:'likeIcon')
                  0
                %p
                  (税込)
    .allprofMain__content--footer

= render partial: "layouts/footer"