.userLMain
  .userHeader
    .icon
      = link_to image_tag('logo.png'), "/"
  .userContents
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .userContents__fild
        メールアドレス(半角英数字)
        %span 必須
        .inputarea
          = f.email_field :email, autofocus: true, autocomplete: "email"
      .userContents__fild
        パスワード（半角英数字)
        %span 必須
        .inputarea
          = f.password_field :password, autocomplete: "current-password"
      .userContents__action
        = f.submit "ログイン",class: 'userButton'
  .userFooter
    %ul.box
      %li.box__privacy
        = link_to "プライバシーポリシー", "#"
      %li.box__terms
        = link_to "フリマ利用規約", "#"
      %li.box__transaction
        = link_to "特定商取引に関する表記", "#"
    .icon
      = link_to image_tag('logo.png'), "/"
    .copyRight
      © FURIMA, Inc.
