.sellMain
  .sellHeader
    .icon
      = link_to image_tag('logo.png'), "/"
  .sellContents
    = form_for @product,{multipart: :true} do |f|
      .sellContents__image
        出品画像 
        %span 必須
        %p
          最大10枚までアップロードできます
        #srcUpload
          = f.fields_for :images do |image|
            .data-index.js-file_group
              = image.index
              = image.file_field :src, class: 'js-file'
              %br
              %span.js-remove
                削除
      .sellContents__name
        商品名 
        %span 必須
        .nameField
          = f.text_field :name, class: "nameField__text", placeholder: "40文字まで", autofocus: true
      .sellContents__discribe
        商品の説明 
        %span 必須
        .discribeField
          = f.text_area :discribe, class: "discribeField__text", rows: "7", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例：2019年頃に購入したサンダルです。黒色であわせやすいのでおすすめです。"
      .sellContents__brand
        ブランド名
        %span 任意
        .brandField
          = f.text_field :brand, class: "brandField__text", placeholder: "例：エルメス"
      .sellContents__status
        商品の状態 
        %span 必須
        .statusField
          = f.select :brand, Product.brands.keys, {prompt: '選択してください'}, class: "statusField__text"
      .sellContents__category
        カテゴリー
        %span 必須
        .categoryField
          = f.select :name, Product.names.keys, {prompt: '選択してください'}, class: "categoryField__text"
      .sellContents__shipping
        配送について
        %ul.shippingLists
          %li.shippingLists__cost
            配送料の負担 
            %span 必須
            .costField
              = f.select :shipping_cost, Product.shipping_costs.keys, {prompt: '選択してください'}, class: "costField__text"
          %li.shippingLists__from
            発送元の地域 
            %span 必須
            .fromField
              = f.select :shipping_from, Product.shipping_froms.keys, {prompt: '選択してください'}, class: "fromField__text"
          %li.shippingLists__days
            発送までの日数 
            %span 必須
            .daysField
              = f.select :days, Product.days.keys, {prompt: '選択してください'}, class: "daysField__text"
      .sellContents__price
        販売価格（￥300〜￥9,999,999）
        %ul.priceLists
          %li.priceLists__value
            価格
            %span 必須
            ¥
            = f.number_field :price, class: "valueField__text"
          %li.priceLists__fee
            販売手数料
            %span 必須
          %li.priceLists__profit
            販売利益
            %span 必須
      .sellContents__action
        = f.submit "出品する", class: 'sellButton'
    .sellContents__consent
      %p 
      禁止されている
      = link_to "行為", "#"
      及び出品物を必ずご確認下さい。
      %p 
      = link_to "偽ブランド品", "#"
      や
      = link_to "盗品物", "#"
      などの販売は犯罪であり、法律により処罰される可能性があります。
      %p
      また、出品をもちまして
      = link_to "加盟店規約", "#"
      に同意したことになります。
  .sellFooter
    %ul.box
      %li.box__privacy
        = link_to "プライバシーポリシー", "#"
      %li.box__terms
        = link_to "フリマ利用規約", "#"
      %li.box__transaction
        = link_to "特定商取引に関する表記", "#"
    .icon
      = link_to image_tag('logo.png'), "/"
    .copyRight
      © FURIMA, Inc. 