.topFooter
  %ul.contents
    %li.content
      %h2.content__title
        FURIMAについて
      %ul.box
        %li.box__list
          = link_to "会社概要(運営会社)","#"
        %li.box__list
          = link_to "プライバシーポリシー","#"
        %li.box__list
          = link_to "FURIMA利用規約","#"
        %li.box__list
          = link_to "ポイントに関する特約","#"
    %li.content
      %h2.content__title
        FURIMAを見る
      %ul.box
        %li.box__list
          = link_to "カテゴリー一覧","#"
        %li.box__list
          = link_to "ブランド一覧","#"
    %li.content
      %h2.content__title
        ヘルプ＆ガイド
      %ul.box
        %li.box__list
          = link_to "FURIMAガイド","#"
        %li.box__list
          = link_to "FURIMAロゴ利用ガイドライン","#"
        %li.box__list
          = link_to "お知らせ","#"
  .topFooter__logo
    = link_to image_tag('logo-white.png'), "#"
    %p
      © FURIMA