.topHeader
  .contents
    .contents__main
      %h1.icon
        = link_to image_tag('logo.png', alt: 'noImage'), products_path
      .searchField
        = search_form_for(@q, url: searches_path) do |f|
          = f.search_field :name_cont, class: 'form', placeholder: 'キーワードで探す', id: "form__box"
          .searchButton
            %button{type:'submit', class:'button'}
              %i.fas.fa-search
    .contents__nav
      %ul.leftList
        %li.leftList__item--first
          = link_to "カテゴリー", "#"
        %li.leftList__item
          = link_to "ブランド", "#"
      -if user_signed_in?
        %ul.rightList
          %li.rightList__item--mypage
            = link_to user_path(current_user.id) do
              マイページ
      -else
        %ul.rightList
          %li.rightList__item--login
            = link_to new_user_session_path do
              ログイン
          %li.rightList__item--new
            = link_to new_user_registration_path do
              新規会員登録