.topHeader
  .contents
    .contents__main
      %h1.icon
        = link_to image_tag('logo.png'), "/"
      .searchField
        %input{type: "text", class: "searchField__text", placeholder: "キーワードから探す"}
        %button{type: "submit"}
          .searchField__icon
            = image_tag 'icon-search 1.png'
    .contents__nav
      %ul.leftList
        %li.leftList__item--first
          = link_to "カテゴリー", "#"
        %li.leftList__item
          = link_to "ブランド", "#"
      -if user_signed_in?
        %ul.rightList
          %li.rightList__item--mypage
            = link_to user_path(current_user.id) do
              マイページ
      -else
        %ul.rightList
          %li.rightList__item--login
            = link_to new_user_session_path do
              ログイン
          %li.rightList__item--new
            = link_to new_user_registration_path do
              新規会員登録